/* SERVIÇO GERAL */

.content {
	margin: 0 auto;
	width: 80%;
	padding: 10px;
}

.content p {
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
	text-align: justify;
	color: white;
	line-height: 25px;
}

.clear {
	clear: both;
}

.distant-from-top {
	margin-top: 2em;
}

/* CSS ESPECÍFICO */

body {
	background-color: rgb(94,109,112);
}

h1 {
	font-size: 4em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;

	text-align: center;
	color: white;
	margin: 0.5em 0;
}

h2 {
	font-size: 3.3em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;

	text-align: center;
	color: white;
	margin-bottom: 0.5em;
}

.form-table {
	font-family: 'Open Sans', sans-serif;

	max-width: 500px;
	border: 2.5px solid rgb(255,107,0);
	padding: 15px;

	margin: 2em auto;

	-webkit-transition: display 0.5s;
	-moz-transition: display 0.5s;
	transition: display 0.5s;
}

.form-table-google {
	max-width: 900px;
	border: 2.5px solid rgb(255,107,0);
	padding: 15px;

	margin: 2em auto;

	-webkit-transition: display 0.5s;
	-moz-transition: display 0.5s;
	transition: display 0.5s;
}

.button {
	padding: 15px;

	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;

	text-transform: uppercase;
	color: white;

	border: none;

	background-color: rgb(255,107,0);

	float: left;
}

.title {
	font-size: 5em;
	text-align: center;
}

section:not(.active) {
	display: none;
}

section .active {
	display: block;
}

a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

/* GOOGLE FORM */

.ss-q-title {
	font-size: 1em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;

	margin-top: 1.5em;
}

.required-message {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: white;

	margin-bottom: 1em;
}

.top {
	margin-top: 0;
}

input[type="radio"] {
	padding: 0;
	margin: 0;
	margin-right: -7em;
	display: inline-block;
}

.ss-choice-label {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 1em;
}

.ss-q-help {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	font-weight: lighter;
	color: white;

	margin-top: 0.7em;
}

input[type="submit"] {
	padding: 10px;

	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;

	text-transform: uppercase;
	color: white;

	border: none;

	background-color: rgb(255,107,0);

	margin-bottom: 0;
}

label {
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;

	display: block;
	color: white;
	margin: 0.4em 0;
}

input { 
	display: block;
	margin: 0.6em 0;
}

input {
	width: 250px;
	margin-bottom: 2em;
}